/* Dark mode colors. */
:root {
    --sl-color-accent-low: #1e242d;
    --sl-color-accent: #546b8a;
    --sl-color-accent-high: #c1c9d5;
    --sl-color-white: #ffffff;
    --sl-color-gray-1: #f6eaee;
    --sl-color-gray-2: #ccbdc2;
    --sl-color-gray-3: #9e838c;
    --sl-color-gray-4: #695059;
    --sl-color-gray-5: #473039;
    --sl-color-gray-6: #351f28;
    --sl-color-black: #1f1519;
}

/* Light mode colors. */
:root[data-theme='light'] {
    --sl-color-accent-low: #d1d7e0;
    --sl-color-accent: #566d8c;
    --sl-color-accent-high: #293341;
    --sl-color-white: #1f1519;
    --sl-color-gray-1: #351f28;
    --sl-color-gray-2: #473039;
    --sl-color-gray-3: #695059;
    --sl-color-gray-4: #9e838c;
    --sl-color-gray-5: #ccbdc2;
    --sl-color-gray-6: #f6eaee;
    --sl-color-gray-7: #fbf4f6;
    --sl-color-black: #ffffff;
}